h2{
	font-weight:bold;
}
h1{
	
	font-weight:bold;
}
.a{
	
	color:yellow;
}
#b{
	
	color:red;
}
.canvas{
	
}
a{
	text-decoration:none;
	color:silver;
	background-color:black;
	
}
p{
	
	font-size:1em;
	font-weight:bold;
	font-variant:small-caps;
	text-transform:uppercase;
	font-style:italic;
	line-height:300%;
	color: #b7ff50cc;
}
p:hover{
	color:yellow;
}
#debate{
	font:italic bold small-caps 1em/100% arial;
}
.bangla{
	font-family:SolaimanLipi;
	font-size:25px;
	color :silver;
	
	
}
body{
	background-image:url("img/college.JPG");
	background-size:cover;
}
table{
	width:700px;
	color:#f5ff51;
	background-color:#3f356f;
	text-align:center;
	margin:0 auto;
}
.friend{
	text-align:left;
}
table,th,td{
	border-collapse:collapse;
	border:2px solid #22e3ac;
}
.p{
	background-color:silver;
	color:Black;
}
.J{
	background-color:green;
	color:red;
}
table caption{
	background-color:#f5ff51;
	color:red;
}
.M{
	width:150px;
	height:150px;
	background-color:#569f56;
	text-align:center;
	margin:20px;
	padding:20px;
	float:left;
	transition:background-color 2.5s,width 3s,easy-out;
}
.M:hover{
	background-color:black;
	width:300px;
}
.scroll{
	color:silver;
	width:400px;
	height:200px;
	overflow:scroll;
	border:2px solid green;
}
.Shaon{
	height:300px;
	width:204px;
	margin-right:688px;
	
}
.Shohag{
	height:300px;
	width:437px;
}
.blue{
	width:150px;
	height:150px;
	background-color:#9fd88a99;
	text-align:center;
	margin:20px;
	padding:20px;
	float:right;
	transition: all 3s;
	-O-transition: all 3s;
	-ms-transition: all 3s;
	-moz-transition: all 3s;
	-webkit-transition: all 3s;
}
.blue:hover{
	background-color:blue;
	width:250px;
	transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
}
.year{
	color:#fff300;
	width:600px;
	float:left;
	font-size:30px;
	font-weight:bold;
	margin-left:100px;
	margin-top:100px;
}
.Papiya{
	color:#fe4a4a;
	
}





