body{
	background-image:url("img/toru.JPG");
	background-size:cover;
	color:#fffc18;
	font-weight:bold;
}
input[type=text]{
	color:silver;
	background-color:black;
	border:2px solid red;
	border-radius:5px;
	font-weight:bold;
}
input[type=email]{
	color:orange;
	background-color:black;
	border:2px solid red;
	border-radius:5px;
	font-weight:bold;
}
label{
	color:silver;
}
select{
	color:silver;
	background-color:black;
	border:2px solid red;
	border-radius:5px;
	font-weight:bold;
}
input[type=date]{
	color:orange;
	background-color:black;
	border:2px solid red;
	border-radius:5px;
	font-weight:bold;
}
input[type=number]{
	color:orange;
	background-color:black;
	border:2px solid red;
	border-radius:5px;
	font-weight:bold;
}
textarea{
	color:silver;
	background-color:black;
	border:2px solid red;
	border-radius:5px;
	font-weight:bold;
}
input[type=submit]{
	color:silver;
	background-color:black;
	border:2px solid red;
	border-radius:5px;
	font-weight:bold;
}
input[type=reset]{
	color:silver;
	background-color:black;
	border:2px solid red;
	border-radius:5px;
	font-weight:bold;
}
div{
	width:500px;
	height:400px;
}









