*{
	margin:0px;
    padding:0px
}
body{
	background-color:#392d74;
}
div{
	background-color:#2f174dcc;
	
}
.wrapper{
	width:960px;
	margin:0 auto;
	margin-top:70px;
	background-color:#392d74;
}
img{
	width:300px;
	height:200px;
}
.college{
	width:300px;
	float:left;
	margin-right:30px;
	color:silver;
}
.p{
	margin-right:0px;
}
h2{
	color:orange;
	margin-top:10px;
	margin-bottom:10px;
	font-size:21px;
}
.M{
	background-color:brown;
	color:yellow;
	text-decoration:none;
	border:1px solid red;
	display:block;
	text-align:center;
}

.M:hover{
	background-color:black;
	color:orange;
	text-decoration:none;
	border:1px solid red;
}
p{
	margin-bottom:20px;
	text-align:justify;
}
marquee{
	font-weight:bold;
	font-size:30px;
	color:yellow;
	margin:5px;
	padding:10px;
}
