*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#000c;
}
#wrapper{
	width:960px;
	margin:20px auto;
}
header{
	background-color:#56c8b3;
	padding:10px;
	border-bottom:4px solid #7a3827;
}
header h2{
	color:#171e54;
	display:inline;
	text-shadow:1px 2px green;
}
header h3{
	color:#020508;
}
header span{/**Extra trying**/
	float:right;
	margin:15px;
	font-size:23px;
	font-family:italic;
	font-weight:bold;
	color:#1b3a71;
	
}
input[list=search-element]{/**Extra trying**/
	width:160px;
	height:10px;
	border:2px solid red;
	background-color:black;
	color:orange;
	font-weight:bold;
	font-family:italic;
	border-radius:3px;
	padding:5px;
}
#nav{
	background-color:silver;
	min-height:37px;
	border-bottom:3px solid #7a3827;
	
}
#nav ul{
	list-style-type:none;
	background-color:silver;
	
}
#nav ul li{
	float:left;
	border-right:2px solid #8f4d4d;
	position:relative;
	z-index:999;
	
}
#nav ul li:last-child{
	border:none
}
#nav ul li a{
	text-decoration:none;
	display:block;
	padding:9px 31px;
	color:#001e75;
}
#nav ul li a:hover{
	color:orange;
	background-color:#112c63;
	transition:1.5s;
}
#nav ul li ul{
	position:absolute;
	left:-99999px;
}
#nav ul li:hover ul{
	left:-2px;
}
#nav ul li ul li{
	float:none;
	width:200px;
	border-left:2px solid #8f4d4d;
	border-right:2px solid #8f4d4d;
	border-bottom:3px solid #8f4d4d;
}
#nav ul li ul li:first-child{
	border-top:3px solid #8f4d4d; 
}
#slider-wrapper{
	overflow:hidden;
}
#nav ul li ul li:last-child{
	border-bottom:3px solid #8f4d4d;
	border-left:2px solid #8f4d4d;
	border-right:2px solid #8f4d4d;	
}
#main_contain{
	border-top:5px solid #7a3827;
	background-color:#080b30;
	padding:10px;
	overflow:hidden;
}
#contain{
	width:720px;
	margin-right:20px;
	float:left;
	padding:10px;
	overflow:hidden;
	

}
#contain img{
	width:400px;
	height:269px;
	float:left;
	margin-right:10px;
	
}  
#contain h2{
	color:orange;
	text-shadow:1px 2px red;
}
#contain p{
	color:#d9f36fb3;
	margin-top:20px;
	text-align:justify;
	font-size:17px;
	font-family:italic;
}
#sidebar h2{
	color:orange;
	padding-top:10px;
	margin-bottom:20px;
	text-shadow:1px 2px red;
	
}
#sidebar{
	width:160px;
	float:left;
}
#sidebar ul li{
	list-style-type:none;
}
#sidebar ul li a{
	text-decoration:none;
	color:#3ade70;
}

#footer{
	text-align:center;
	border-bottom:5px solid #7a3827;
	border-top:5px solid #7a3827;
	background-color:black;
	color:orange;
}































